{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags widget_tweaks %}
{% block content %}

<!-- title bar and contact form -->
    {% image self.banner_image fill-1800x1300 as img %}
    <div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: cover; background-position: center center; color: white;">

        <div class="row justify-content-center">

        <div class="col-lg-6">
        <div class="form-container">
            <h1 style="color: white;">Contact</h1>
            {% block thank_you_text %}
            {% endblock %}
            <form action="{% pageurl page %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class+="form-control" %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
    </div>
</div>
</div>
</div>

<!-- testiomonials -->
<div class="container-fluid">
    <div class="row">
        <!-- todo, if there are less than three, make them appear evenly.  -->
        {% for cycle in self.testimonials.all %}
        <div class="col-sm-4">
            <blockquote class="blockquote">
                <p class="mb-0 font-weight-bold">{{ cycle.testimonial_text }}</p>
                <footer class="blockquote-footer">{{ cycle.testimonial_author }}<cite title="Source Title">{{ cycle.testimonial_location }}</cite></footer>
                </blockquote>
        </div>
        {% endfor %}
    </div>
</div>
<hr>


<div class="container">
    <div class="row">
        {% if self.page_subtitle %}
        <div class="col-12 text-center">
            <h1 class="display-4">{{ self.page_subtitle }}</h1>
        </div>
        {% endif %}
        <!-- Methodology -->
        {% for cycle in self.methodology.all %}
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header text-center">{{ cycle.method_title }}</h3>
                {% image cycle.method_image width-640 as img %}
                <img style="height: 200px; width: 100%; display: block;" src="{{ img.url }}" alt="{{ img.alt }}">
                <div class="card-body">
                    <p class="card-text">{{ cycle.method_text }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<!-- Featured blog post -->
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            {% if self.blog_featured_large_text or self.blog_featured_small_text %}
            <h1 class="my-1">{{ self.blog_featured_large_text }}
                <small>{{ self.blog_featured_small_text }}</small>
            </h1>
            {% endif %}
            {% for cycle in self.featured.all %}
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        {% image cycle.featured_blog_post.specific.blog_post_image fill-640x480 as img2 %}
                        <a href="{{ cycle.featured_blog_post.specific.url }}"><img src="{{ img2.url }}" class="card-img" alt="{{ img2.alt }}"></a>
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                    <a href="{{ cycle.featured_blog_post.specific.url }}"><h4 class="card-title h2">{{ cycle.featured_blog_post.specific.blog_post_title }}</h4></a>
                    <p class="card-text">{{ cycle.featured_blog_post.specific.blog_post_description|richtext }}</p>
                    <p class="card-text"><small class="text-muted">{{ cycle.featured_blog_post.specific.first_published_at }}</small></p>
                    </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
