{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}

{% image self.blog_post_image fill-1800x1300 as img %}
<div class="container-fluid">
    <div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: cover; background-position: center center; color: white;">
        <div class="row">
            <div class="title-container">
                <h1 class="text-light">{{ self.blog_post_title }}</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <b>{{ self.blog_post_description|richtext }} </b>
            {{ self.blog_post_content|richtext }}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <h1 class="my-1">Authored
                <small>by</small>
            </h1>
        </div>
    </div>
        {% for author in self.blog_authors.all %}
        <div class="card mb-3" style="">
            <div class="row no-gutters">
            <div class="col-md-4">
                {% image author.author.image fill-640x480 as img %}
                <img src="{{ img.url }}" class="card-img rounded" alt="{{ img.alt }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h4 class="card-title h2">{{ author.author.name }}</h4>
                <h3 class="card-title h3 font-italic">{{ author.author.job_title }}</h3>

                <p class="card-text"> {{ author.author.description|richtext }} </p>
                <a href="{{ author.author.website }}" target="_blank"><p class="card-text">{{ author.author.website }}</p></a>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}


</div>
{% endblock %}
