{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}

<!-- Banner at the top and title -->
{% image self.banner_image fill-1800x1300 as img %}
<div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: cover; background-position: center center; color: white;">
    <div class="row">
        <div class="title-container">
            <h1 class="text-light">{{ self.banner_title }}</h1>
        </div>
    </div>
</div>

<!-- intro text -->
{% if self.intro_text %}
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                {{ self.intro_text|richtext }}
                {{ self.blog_post_content|richtext }}
            </div>
        </div>
    </div>
{% endif %}

<br>
<div class="container">
    {% if self.blog_listing_large_text or self.blog_listing_small_text %}
    <div class="row">
        <div class="col-10 mx-auto">
            <h1 class="my-1">{{ self.blog_listing_large_text }}
                <small>{{ self.blog_listing_small_text }}</small>
            </h1>
        </div>
    </div>
    {% endif %}

    <div class="row">
        {% for post in posts %}
            <div class="col-10 mx-auto">
                <div class="card mb-3" style="">
                    <div class="row no-gutters">
                    <div class="col-md-4">
                        {% image post.blog_post_image fill-640x480 as img %}
                        <a href="{{ post.url }}"><img src="{{ img.url }}" class="card-img" alt="{{ img.alt }}"></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <a href="{{ post.url }}"><h4 class="card-title h2">{{ post.blog_post_title }}</h4></a>
                        <p class="card-text"> {{ post.blog_post_description|richtext }} </p>
                        <p class="card-text"><small class="text-muted">{{ post.first_published_at }}</small></p>
                        </div>
                    </div>
                    </div>
                <a href="{{ post.url }}"<button class="btn-secondary text-uppercase text-center">See more</button></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% if posts.paginator.num_pages > 1 %}
<div class="row justify-content-center">
    <ul class="pagination">

    <li class="page-item {% if not posts.has_previous %} disabled {% endif %}">
        <a class="page-link" href="?page={% if posts.has_previous %}{{ posts.previous_page_number }}{% endif %}">&laquo;</a>
    </li>
    {% for page_num in posts.paginator.page_range %}
    <li class="page-item {% if page_num == posts.number %} active {% endif %}">
        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
    </li>
    {% endfor %}

    <li class="page-item {% if not posts.next_page_number %} disabled {% endif %}">
    <a class="page-link" href="?page={% if posts.has_next %}{{ posts.next_page_number }}{% endif %}">&raquo;</a>
    </li>

    </ul>
</div>
{% endif %}
{% endblock %}
